/*
color style
red: rgb(231, 76, 60); #e74c3cff
blue: rgb(52, 152, 219); #3498dbff
green: rgb(68, 198, 80); #44C650
orange: rgb(246, 187, 66); #f6bb42ff
white: #EBEFF0
black: rgb(67, 74, 84); #434a54ff; dark: #000;
gold: #F39C12;

*/
html {
    height: 10000px;
}

html, body {
    max-width: 100%;

}

#hello {

    font-family: 'Roboto',sans-serif;
  
}
.name {
    text-align: left;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: 100;
    background-attachment: fixed, fixed;
    position: fixed;

}
#rubik rect{
    transform : scale(0.3);
    -ms-transform: scale(0.3);
    -webkit-transform: scale(0.3);
    -o-transform: scale(0.3);
    -moz-transform: scale(0.3);
    z-index: 100;
}

#rubikbase rect{
    transform : scale(0.3);
    -ms-transform: scale(0.3);
    -webkit-transform: scale(0.3);
    -o-transform: scale(0.3);
    -moz-transform: scale(0.3);
}


#intro {
    position: fixed;
}

#Portfolio1, #Portfolio2 {
    position: fixed;
}

#projectHeader {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: 100;
    color: white;
}

#Proj1Cont {
    position: absolute;
    z-index: 1000;
    top: 0%;
    left: 0%;
}

.vignette {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 200px rgba(0, 0, 0, .3) inset;
    z-index: 109;
    pointer-events: none
}