/*
color style
red: rgb(231, 76, 60); #e74c3c
dark-red: #BE3D2F;
blue: rgb(52, 152, 219); #3498db
dark-blue: #337FB1
green: rgb(68, 198, 80); #44C650
dark-green: #459B45;
orange: rgb(246, 187, 66); #f6bb42
white: #EBEFF0
black: rgb(67, 74, 84); #434a54; dark: #000;
gold: #F39C12;

*/
html {
    height: 20000px;
}

html, body {
    max-width: 100%;

}

#hello {

    font-family: 'Roboto',sans-serif;
  
}
.name {
    text-align: left;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: 100;
    background-attachment: fixed, fixed;
    position: fixed;

}
#rubik rect{
    transform : scale(0.3);
    -ms-transform: scale(0.3);
    -webkit-transform: scale(0.3);
    -o-transform: scale(0.3);
    -moz-transform: scale(0.3);
    z-index: 100;
}

#rubikbase rect{
    transform : scale(0.3);
    -ms-transform: scale(0.3);
    -webkit-transform: scale(0.3);
    -o-transform: scale(0.3);
    -moz-transform: scale(0.3);
}

#intro, #Portfolio1, #Portfolio2, #Skills1{
    position: fixed;
}

#projectHeader {
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: 100;
    color: white;
}

#Proj1Cont {
    position: absolute;
    z-index: 1000;
    top: 0%;
    left: 0%;
}

.vignette {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 200px rgba(0, 0, 0, .3) inset;
    z-index: 109;
    pointer-events: none
}

div {
    margin: 0;
}

#navbarSVG {
    bottom: -93%;
    z-index: 108;
    position: fixed;
}

#MainBar{
    width: 10000%;
    transform: translate(-10%, 0);
    opacity: 0.9;
}

#ScrollingBar{
    transform: translate(0, 0);
}

#NavPoints {
    z-index: 1100000;
    transform: translate(500px, 500px);
    font-family: 'Roboto', sans-serif;
    font-size: 1.8em;
    font-weight: 300;
}


#SkillBlock1 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-weight: 300;
}

a:link {
    text-decoration: none;
}

/* visited link */
a:visited {
    text-decoration: none;
}

/* mouse over link */
a:hover {
    text-decoration: none;
}

/* selected link */
a:active {
    text-decoration: none;
}


/*Scrollbar css*/
::-webkit-scrollbar {
    width: 12px;
}
 

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(64,74,84,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(64,74,84,0.4); 
}

